# MATLAB autosave
*.asv

# MATLAB generated folders
slprj/
codegen/

# Temporary files
*.log
*.tmp

# Reports
*.pdf
*.doc
*.docx

# Ignore everything in data
data/*

# But keep the README
!data/README.md